{% extends "base.html" %}

{% block extra_css %}
    <!--pickers css-->
    <link rel="stylesheet" type="text/css" href="/static/js/bootstrap-datetimepicker/css/datetimepicker-custom.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel ">
                <header class="panel-heading">
                    基本信息
                </header>
                <div class="panel-body">
                    <form class="form-horizontal adminex-form" id="basic-form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">名称</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="name"
                                       value="{{ plan.name if plan else '' }}">
                            </div>
                            <label class="col-sm-2 control-label">期望上线时间</label>
                            <div class="col-sm-4">
                                <input size="16" type="text" readonly="" class="form_datetime form-control"
                                       name="golive_expected_time"
                                       value="{{ str(plan.golive_expected_time if plan and plan.golive_expected_time else datetime.datetime.now())[:16] }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Assign</label>
                            <div class="col-sm-4">
                                <select class="form-control select2-remote" name="assignee"
                                        data-ajax--url="/golive/user/choices/"
                                        init-value="{{ plan.assignee_id if plan else '' }}">
                                </select>
                            </div>
                            <label class="col-sm-2 control-label">备注</label>
                            <div class="col-sm-4">
                                <textarea rows="6" class="form-control" name="text">{{ plan.text or '' }}</textarea>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <div class="panel">
                <header class="panel-heading">
                    上线步骤
                </header>
                <div class="panel-body">
                    <ul class="to-do-list" id="sortable-todo">
                    </ul>
                    {% if plan.status == PlanStatus.EDITING or not plan %}
                        <div class="row">
                            <div class="col-md-4 col-sm-offset-8">
                                <form role="form" class="form-inline">
                                    <div class="form-group todo-entry">
                                        <select class="form-control"
                                                style="width: 100%" id="task-selecter">
                                            <option value="GitPullTask">拉代码</option>
                                            <option value="DeployConfigTask">更改配置</option>
                                            <option value="PipInstallTask">装依赖</option>
                                            <option value="RestartTask">重启服务</option>
                                            <option value="DjangoCommandTask">Django command</option>
{#                                            <option value="TextTask">自然语言描述</option>#}
                                            {#                                        <option value="DeployConfigTask">更改配置</option>#}
                                        </select>
                                    </div>
                                    <button class="btn btn-primary pull-right" id="add-task" type="button">+</button>
                                </form>
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>
            <div class="panel">
                <div class="panel-body">
                    {% if plan.status == PlanStatus.EDITING or not plan %}
                        <div class="col-sm-2 col-sm-offset-8">
                            <button class="btn btn-success pull-right" type="submit" id="task-save" name="audit"
                                    value="0">保存
                            </button>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-success pull-right" type="submit" id="save-audit" name="audit"
                                    value="1">
                                保存并提交审核
                            </button>
                        </div>
                    {% elif plan.status == PlanStatus.AUDITING %}
                        <div class="col-sm-2 col-sm-offset-8">
                            <button class="btn btn-success pull-right" type="submit" id="audit-pass">审核通过</button>
                        </div>
                    {% elif plan.status == PlanStatus.AUDIT_PASS %}
                        <div class="col-sm-2 col-sm-offset-8">
                            <button class="btn btn-success pull-right" type="submit" id="start-golive">开始上线</button>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="execution_shower" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true"
         style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">上线进行中。。。</h4>
                </div>
                <div class="modal-body">
                    <ul id="execution_stages">

                    </ul>
                </div>

                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-primary" type="button" id="modal-close">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <!--pickers plugins-->
    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="/static/local/js/medivh-select2.js"></script>
    {% include "golive/tasks.html" %}
    <script>
        $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
        function save_task(audit) {
            var tasks = [];
            $('#sortable-todo').find('form').each(function () {
                tasks.push($(this).serializeArray())
            });
            var data = {
                "form_data": $("#basic-form").serializeArray(),
                "tasks": tasks,
                "audit": audit
            };
            $.ajax({
                type: "post",
                url: window.location.href,
                data: {'data': JSON.stringify(data)},
                async: false,
                success: function (data) {
                    window.location.href = '/golive/plan/list/';
                }
            });
        }
        $('#task-save').click(function () {
            save_task(0)
        });
        $('#save-audit').click(function () {
            save_task(1)
        });

        $('#add-task').click(function () {
            var type = $("#task-selecter").val();
            if (!type) {
                return;
            }
            $("#sortable-todo").append(document.getElementById(type).innerHTML);
            select2_init();
        });

        function init_tasks() {
            var tasks = JSON.parse('{{ plan.tasks|safe if plan else '[]'  }}');
            for (i in tasks) {
                $("#sortable-todo").append(document.getElementById(tasks[i]['type']).innerHTML);
                var cur = $("#sortable-todo").children("li").last();
                var t = tasks[i]

                for (k in t) {
                    var val = t[k];
                    cur.find("select[name='" + k + "']").attr("init-value", val);
                    cur.find("[name='" + k + "']").val(val);
                }
            }
        }

        init_tasks();
        gm_select2_init();

        {% if plan and plan.status != PlanStatus.EDITING %}
            select2_disable();
            $("input").prop('disabled', true);
            $("textarea").prop('disabled', true);
        {% endif %}
        {% if plan.status == PlanStatus.AUDITING %}
            $("#audit-pass").click(function () {
                $.ajax({
                    'url': '/golive/plan/pass/',
                    'method': 'post',
                    'data': {"plan_id": {{ plan.id }}},
                    'success': function (data) {
                        alert(data['message']);
                        window.location.reload()
                    }
                })
            });
        {% elif plan.status == PlanStatus.AUDIT_PASS %}
            $("#start-golive").click(function () {
                $.ajax({
                    'url': '/golive/plan/start/',
                    'method': 'post',
                    'data': {"plan_id": {{ plan.id }}},
                    'success': function (data) {
                        alert(data['message']);
                        $("#execution_shower").modal();
                        get_stages(data['data']['execution_id']);
                    }
                })
            });
        {% endif %}
        var stop = 0;
        function get_stages(id) {
            var stop = 0;
            $.ajax({
                type: "get",
                url: '/golive/stage/get/',
                data: {'id': id, 'length': $("#execution_stages").children().length},
                async: false,
                success: function (data) {
                    if (data['data']['stages']) {
                        for (i in data['data']['stages']) {
                            var d = data['data']['stages'][i];
                            var html_id = "stage_" + d['type'] + "_" + d['id'];
                            $("#execution_stages").append("<li id='" + html_id + "'>" + d['msg'] + "</li>");
                            if (d['stop']) {
                                stop = 1;
                                return
                            }
                            if (!d['is_success']) {
                                $.ajax({
                                    'url': '/golive/stage/error/',
                                    'data': {'id': d['id']},
                                    'type': 'get',
                                    'async': false,
                                    'success': function (data) {
                                        var html = "<ul>";
                                        for (i in data['data']['results']) {
                                            html += "<li>" + data['data']['results'][i]['msg'] + "</li>"
                                        }
                                        html += "</ul>";
                                        $("#" + html_id).append(html)
                                    }
                                })
                            }
                        }
                    }
                }
            });
            if (stop) {
                return;
            }
            setTimeout(function () {
                get_stages(id);
            }, 1000);
        }
    </script>
{% endblock %}