{% extends "base.html" %}

{% block content %}
<div class="row">
        <div class="col-md-12">
            <div class="panel">

                <header class="panel-heading">
                    更美运维平台v0.1
                </header>
                <div class="panel-body">
                    <p>1:本版本为试行版</p>
                    <p>2:普通用户可提交和查看所有申请</p>
                    <p>3:超管可提交查看审核所有申请</p>
                    <p>4:权限系统以后慢慢完善</p>
                </div>

            </div>
        </div>
    </div>
{% endblock %}